{% extends "base.html.twig" %}

{% block title %}
	Création une nouvelle option
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h2>Création d'une nouvelle référence</h2>
		{{ include ("admin/option/_form.html.twig", { button: "Créer"}) }}
	</div>
{% endblock %}
